<h4 class="alert-title theme {{init.type}}">{{init.title}}</h4>
<div class="alert-body">
    <ng-container [ngSwitch]="init.type">
        <ng-container *ngSwitchCase="'error'">
            <div class="alert-notif">
                <div class="alert-notif-error">
                    <div class="alert-notif-error-x">
                        <div class="alert-notif-error-left"></div>
                        <div class="alert-notif-error-right"></div>
                    </div>
                    <div class="alert-notif-error-placeholder"></div>
                    <div class="alert-notif-error-fix"></div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'success'">
            <div class="alert-notif">
                <div class="alert-notif-success">
                    <div class="alert-notif-success-tip"></div>
                    <div class="alert-notif-success-long"></div>
                    <div class="alert-notif-success-placeholder"></div>
                    <div class="alert-notif-success-fix"></div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'warn'">
            <div class="alert-notif">
                <div class="alert-notif-warning">
                    <div class="alert-notif-warning-body"></div>
                    <div class="alert-notif-warning-dot"></div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <div>{{init.message}}</div>
</div>

<div class="alert-action">
    <button mat-button class="theme {{init.type}}" *ngIf="init.action" (click)="init.action()"
        (click)="bsModalRef.hide()">Confirm</button>
    
    <button mat-button (click)="bsModalRef.hide()">Close</button>
</div>